<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dido</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/add_form.js' %}"></script>
    <script src="{% static 'js/desc_popup.js' %}"></script>
    <script src="{% static 'js/edit_form.js' %}"></script>
</head>

<body>
    <h1 id="date">Today</h1>

    <div class="tracker-container">

        <div class="done">
            <h1>Yesterday</h1>

        </div>


        <div class="todo">

            <div class="todo-header">
                <h1>Today</h1>
            </div>

            {% for task in tasks %}
            <div class="task {% if task.is_done %}task-completed{% endif %}">

                <div class="task-upper">
                    <h3>{{task.item}}</h3>
                    <div class="buttons">

                        <!-- TODO add functionality for editing -->
                        <button class="tracker-button" onclick="displayEditForm('{{ task.id }}')">Edit</button>

                        <div id="editForm-{{ task.id }}" style="display: none;">
                            <form action="{% url 'edit_task' task.id %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Save Changes</button>
                            </form>
                        </div>

                        <form action="{% url 'mark_task_done' task.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="tracker-button">Done</button>
                        </form>

                    </div>
                </div>

                <div class="task-lower">
                    <button class="desc-button" onclick="openDesc(this)">
                        <img src="{% static 'images/arrow.png' %}">
                    </button>
                    <div class="desc">
                        <button class="desc-button-reverse" onclick="closeDesc(this)">
                            <img src="{% static 'images/arrow.png' %}">
                        </button>
                        <p>{{task.desc}}</p>
                    </div>
                </div>


            </div>
            {% empty %}
            <div class="task">
                <h3>No tasks yet!</h3>
            </div>
            {% endfor %}

        </div>

    </div>

    <button class="open-button" onclick="openForm()">Add+</button>

    <div class="form-popup" id="addForm">
        <form action="{% url 'main' %}" method="post" class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Create Task</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

</body>

</html>